<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">
                Book E-Commerce Website
            </a>
        </div>
        <div class="btn-group" role="group" >
            <button type="button" class="btn btn-dark" (click)="changeAuthor()">Home</button>
            <button type="button" class="btn btn-dark" routerLink="/admin">Back</button>
            <button type="button" class="btn btn-dark" routerLink="/login">Logout</button>
        </div>
    </div>
<h3 class="text-center">Add Promotion</h3>
        <form #form="ngForm" novalidate (ngSubmit)="onClick(form)" class="m-2">
     
            <div class="form-group">
                <label class="float-left">Promo Code</label>
                <input class="form-control" #promocode="ngModel" name="promocode" [(ngModel)]="promo.promocode" required />
                <span *ngIf="submitted && promocode.invalid" class="text-danger">
                    promocode is required
                </span>
            </div> 
            
            <div class="form-group">
                <label class="float-left">Discount</label>
                <input class="form-control" type="discount" #discount="ngModel" name="discount" [(ngModel)]="promo.discount" required />
                <span *ngIf="submitted && discount.invalid" class="text-danger">
                    Please enter discount
                </span>
                
            </div>
            <div class="text-center">
                <button class="btn btn-info m-1 btn-lg" type="submit">
                    Add
                </button>
     
            </div>
        </form>
    </div>