<div class="container-fluid">
    <div class="row">
        <div class="col-10 bg-dark text-white text-center">
            <h1 class="navbar-brand">
               ADMIN PAGE
            </h1>
        </div>
        <div class="btn-group" role="group" >
            <button type="button" class="btn btn-dark" routerLink="/admin">Home</button>
            <button type="button" class="btn btn-dark" routerLink="/login">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2.5 p-3 text-center">  
           <button class="btn btn-block btn-outline-info"  routerLink="/insert" >
           Insert Book
            </button>
        </div>
        <div class="col-2.5 p-3 text-center">
            <button class="btn btn-block btn-outline-info" routerLink="/view" >
            View Book
             </button>
         </div>
         <div class="col-2.5 p-3 text-center ">
            <button class="btn btn-block btn-outline-info" routerLink="/update" >
            Update Book
             </button>
         </div>
         <div class="col-2.5 p-3 text-center">
            <button class="btn btn-block btn-outline-info" routerLink="/delete" >
            Delete Book
             </button>
        </div>
         <div class="col-2.5 p-3 text-center">
            <button class="btn btn-block btn-outline-info" routerLink="/promo" >
            Add promo
             </button>
         </div>
    </div>
</div>